*{
    margin: 0;padding: 0;box-sizing: border-box;
}
ul,li,a{
    list-style: none;
    text-decoration: none;
}
/* .content{ */
    /* height: 93vh; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* color: #4c3758; */
/* } */

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container img{
    height: 600px;
}
.btns{
    margin-top: 10%;
    display: flex;
    /* justify-content: space-around;   ` */
    align-items: center;
    
}
.btns button{
    border: none;
    padding:20px;
    outline: none;
    border-radius: 5%;
    background-color: black ;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

.card-container{
    padding: 20px;
    /* width: 40%; */
    border: 1px solid black ;
    display: flex;
    border-radius: 10px; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    padding: 40px 40px;
}

.card input{
    width: 500px;
    padding: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
.card button{
    background-color: rebeccapurple;
    color: white;
    padding: 20px 40px;
    outline: none;
    border: none;
    cursor: pointer;
}
