*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: aliceblue;
}

ul li{
    list-style: none;
}

.head-container{
    background-color: white;
    border: 1px solid #d6d6d6;
    width: calc(100% - 20px);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.header{
    display: flex;
    justify-content: space-between;

}

.header .brand-name a{
    font-weight: bold;
    color: #4c3758;
}

.header ul{
    display: flex;
}

.header ul li{
    padding: 0 10px;
}

.header ul li a{
    text-decoration: none;
    color: #1b1b1b;
}

.header ul li a:hover{
    color: #4c3758;    
}
